@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <form class="col-md-4">
        <div class="card h-100">
            <div class="card-body">
                <h4 class="text-center">Busca</h4><br />
                <div class="form-group">
                    @*<label for="exampleInputEmail1">Travar Data.</label>*@
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                            <input class="" type="radio" name="tppes" id="motivo" value="F">&nbsp;
                            <label class="form-check-label" for="inlineRadio1">CPF</label>
                        </span>
                        <span class="input-group-text">
                            <input class="" type="radio" name="tppes" id="motivo" value="J">&nbsp;
                            <label class="form-check-label" for="inlineRadio1">CNPJ</label>
                        </span>
                      </div>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite o Número">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block">Buscar</button>
                </div>
            </div>
        </div>
    </form>
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body">
                <h4 class="text-center">Informações Quantitativas</h4><br />
                <p class="text-center">
                    <b>Análises realizadas hoje:</b>
                    <br />
                    10
                    <br />
                    <b>Análises realizadas no mês (@(DateTime.Now.Month)):</b>
                    <br />
                    10
                    <br />
                    <b>Motivo mais Utilizado:</b>
                    <br />
                    Comissão Superior de Crédito (3)
                    
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body">
                <h4 class="text-center">Ranking de Classificações</h4><br />
                    <div class="w-100">
                        <h1 class="classificacaoTxt">
                            H
                        </h1>
                        <div class="gold-rank w-100 text-center rounded">1º - 1343</div>
                        <br />
                    </div>
                    <div class="w-50 float-left">
                        <h5 class="text-center">
                            A
                        </h5>
                        <div class="silver-rank w-100 text-center rounded-left">2º - 334</div>
                    </div>
                    <div class="w-50 float-right">
                        <h5 class="text-center">
                            B
                        </h5>
                        <div class="bronze-rank w-100 text-center rounded-right">3º - 64</div>
                    </div>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <h4>Últimas análises</h4>
        <br />
        <table class="table table-bordered table-striped table-sm">
            <tr>
                <th>Tipo de Pessoa</th>
                <th>Número</th>
                <th>Segmento</th>
                <th>Classificação</th>
                <th>Data da Análise</th>
                <th></th>
            </tr>
            <tr>
                <td>Física</td>
                <td>151.235.047-88</td>
                <td>SegE1</td>
                <td>H</td>
                <td>06/06/2022</td>
                <td class="text-center">
                    <div class="btn-group">
                        <button class="btn btn-info btn-sm">Ver</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Física</td>
                <td>151.235.047-88</td>
                <td>SegE1</td>
                <td>H</td>
                <td>06/06/2022</td>
                <td class="text-center">
                    <div class="btn-group">
                        <button class="btn btn-info btn-sm">Ver</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Física</td>
                <td>151.235.047-88</td>
                <td>SegE1</td>
                <td>H</td>
                <td>06/06/2022</td>
                <td class="text-center">
                    <div class="btn-group">
                        <button class="btn btn-info btn-sm">Ver</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Física</td>
                <td>151.235.047-88</td>
                <td>SegE1</td>
                <td>H</td>
                <td>06/06/2022</td>
                <td class="text-center">
                    <div class="btn-group">
                        <button class="btn btn-info btn-sm">Ver</button>
                    </div>
                </td>
            </tr>

        </table>
        <div class="float-right">
            <button class="btn btn-sm btn-success">Ver Histórico Completo</button>
        </div>
    </div>
</div>

